@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.pos-sticky {
  position: sticky;
  top: 0;
  background-color: rgb(4, 4, 68);
}
.black {
  background-color: rgb(5, 7, 6);
  object-fit: cover;
  width: 100%;
}
.body {
  background-color: rgb(9, 9, 9);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text {
  font-weight: bolder;
  font-size: 15px;
  color: rgb(242, 176, 8);
}
.text:hover {
  color: rgb(242, 176, 8);
  font-weight: bolder;
  font-size: 15px;
}
.text2 {
  color: rgb(242, 176, 8);
  font-size: 25px;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
}
.text2:hover {
  color: rgb(242, 176, 8);
}
.home1 {
  color: rgb(242, 176, 8);
}
.home1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 150px;
  height: 50px;
  background-color: rgb(242, 176, 8);
  color: rgb(9, 10, 11);
  font-size: 15px;
  font-weight: bolder;
  margin-top: 30px;
}
.btn:hover {
  color: aliceblue;
  background-color: rgb(242, 176, 8);
}
.container23 {
  /* background-color: blue; */
  width: 500px;
  margin-left: -5px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.img1 {
  width: 750px;
  height: 450px;
  margin-right: 30px;
  border-radius: 50px;
  background: #171616;
  box-shadow: 20px 20px 60px #0e0d0d, -20px -20px 60px #201f1f;
}
.home2 {
  color: rgb(242, 176, 8);
  font-family: cursive;
  font-size: 40px;
  font-weight: bolder;
}
.home {
  color: rgb(242, 176, 8);
  font-size: 40px;
  font-weight: bolder;
  font-family: cursive;
}
.font {
  font-size: 40px;
}
.about {
  /* background-color: blanchedalmond; */
  color: aliceblue;
  font-family: cursive;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.btn1 {
  width: 150px;
  height: 50px;
  background-color: tomato;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 550px;
  border-radius: 10px;
  border: none;
}
.text4 {
  color: rgb(246, 240, 246);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 30px;
  margin-bottom: 60px;
  
}
.serv {
  color: rgb(242, 176, 8);
  font-family: cursive;
  font-size: 40px;
}
.icon1 {
  color: rgb(242, 176, 8);
  font-size: 100px;
  margin-left: 650px;
}
.pera {
  text-align: center;
  color: azure;
  font-family: cursive;
}
.icon2 {
  color: rgb(242, 176, 8);
  font-size: 110px;
  margin-left:630px;
}
.icon3 {
  color: rgb(242, 176, 8);
  font-size: 110px;
  margin-left:630px;
}
.foodcard {
  width: 310px;
  height: 470px;
  background-color: rgb(25, 21, 16);
  margin: 10px auto;
  border-radius: 12px;
  color: rgb(12, 13, 14);
  margin: 30px;
  margin-top: 50px;
  border-radius: 11px;
  margin-bottom: 100px;
}
.image39 {
  width: 320px;
  height: 250px;
  border-radius: 11px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn39 {
  width: 90px;
  height: 30px;
  background-color: rgb(239, 87, 189);
  color: black;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-top: 10px;
}
.button39 {
  position: relative;
}
.position {
  position: absolute;
  top: 0;
}
.text39 {
  color: tomato;
}
.hema {
  display: flex;
  justify-content: space-between;
}
.home39 {
  color: rgb(242, 176, 8);
  font-family: cursive;
  font-size: 50px;
  
}
.container39 {
  width: 1300px;
  margin: 50px auto;
  padding: 5px;
  background-color: black;
  border-radius: 12px;
  border-radius: 12px;
  margin-left: -5px;
  margin-left: 20px;
  background: linear-gradient(145deg, #1a1818, #1f1d1d);
  box-shadow: 26px 26px 57px #0e0d0d, -26px -26px 57px #2c2929;
}

.top {
  height: 100px;
  width: 1400px;
  /* margin:10px auto; */
  background-color: rgb(94, 69, 5);
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 0px;
}

.middle {
  height: 500px;
  width: 1400px;
  /* margin:10px auto; */
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  display: flex;
}

.bottom {
  height: 70px;
  width: 1400px;
  margin-top: -20px;
  background-color: rgb(84, 17, 6);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 12px;
  text-align: center;
  padding-top: 20px;
  color: aliceblue;
}

.text23 {
  height: 40px;
  width: 400px;
  /* background-color: blanchedalmond; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: aliceblue;
  padding-top: 20px;
  text-transform: capitalize;
}

.icons23 {
  height: 30px;
  width: 500px;
  /* background-color: blanchedalmond; */
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 25px;
  color: aliceblue;
}

.ico1 {
  margin-left: 10px;
  margin-right: -200px;
}

.ico2 {
  margin-left: 10px;
  margin-right: -200px;
}

.ico3 {
  margin-left: 10px;
  margin-right: -200px;
}

.ico4 {
  margin-left: 10px;
  margin-right: -200px;
}

.ico5 {
  /* margin-left:-50px; */
  margin-right: -200px;
}

.ico6 {
  margin-right: 10px;
  margin-right: 30px;
}

.companyname {
  width: 270px;
  height: 350px;
  color: aliceblue;
  background-color: aliceblue;
  margin-right: 50px;
  padding: 10px;
  margin-left: 40px;
  border-radius: 25px;
  background: linear-gradient(145deg, #0d0b0b, #0f0d0d);
  box-shadow: 35px 35px 70px #060505, -35px -35px 70px #161313;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.products {
  width: 270px;
  height: 350px;
  padding: 10px;
  color: aliceblue;
  background-color: aliceblue;
  margin-right: 50px;
  border-radius: 25px;
  background: linear-gradient(145deg, #0d0b0b, #0f0d0d);
  box-shadow: 35px 35px 70px #060505, -35px -35px 70px #161313;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.usefulllinks {
  width: 270px;
  height: 350px;
  padding: 10px;
  color: aliceblue;
  background-color: aliceblue;
  margin-right: 50px;
  border-radius: 25px;
  background: linear-gradient(145deg, #0d0b0b, #0f0d0d);
  box-shadow: 35px 35px 70px #060505, -35px -35px 70px #161313;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact {
  width: 270px;
  height: 350px;
  padding: 10px;
  color: aliceblue;
  background-color: aliceblue;
  margin-right: 30px;
  border-radius: 25px;
  background: linear-gradient(145deg, #0d0b0b, #0f0d0d);
  box-shadow: 35px 35px 70px #060505, -35px -35px 70px #161313;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hema45 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.color39{
  color:tomato;
}
.home50{
  color: rgb(242, 176, 8);
  font-family: cursive;
  font-size: 50px;
  

}
.back{
  padding:30px;
  border-radius: 50px;
background: linear-gradient(315deg, #0a0909, #0c0b0b);
box-shadow:  -46px -46px 92px #040404,
             46px 46px 92px #121010;
}
.content39{
  text-align: center;
}
.manasa{
  color:tomato;
}
.cost{
  text-align: center;
  margin-bottom:10px;
}
